<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/195c3a23e3.js" crossorigin="anonymous"></script>

      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>

    </header>

    <maim>
      <div>
        <%= flash[:notice] %>
      </div>
      <div class="container px-5 px-sm-0">
        <div class="row">
          <div class="col-lg-3">
            <h2>User info</h2>
            <%= image_tag current_user.get_profile_image(100,100) %>
            <table class="table">
              <tr>
                <th>name</th>
                <th><%= current_user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= current_user.introduction %></th>
              </tr>
            </table>

            <div class="row">
              <%= link_to edit_user_path(current_user), class:"btn btn-outline-secondary btn-block" do %>
              <i class="fa-solid fa-user-gear"></i>
              <% end %>
            </div>

            <h2 class="mt-3">New book</h2>
            <% if @book.errors.any? %>
              <%= @book.errors.count %>error prohibited this obj from being saved:
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <%= form_with model: @book do |f| %>
              <p>Title</p>
              <%= f.text_field :title %>
              <p>Opinion</p>
              <%= f.text_area :body %>
              <%= f.submit 'Create Book' %>
            <% end %>
          </div>

          <div class="col-lg-8 offset-md-1">
            <h2>Books</h2>
             <table class="table table-hover">
               <thead>
                 <tr>
                   <th></th>
                   <th>Title</th>
                   <th>Opinion</th>
                 </tr>
               </thead>
               <tr>
                 <% @books.each do |book| %>
                 <th>
                   <%= image_tag book.user.get_profile_image(80,80) %>
                   <%= link_to book.title, "/books/#{book.id}" %>
                 </th>
                 <th><%= book.body %></th>
               </tr>
               <% end %>
             </table>

          </div>
        </div>

      </div>
    </maim>

  </body>

</html>